<div
  class='{{this.getColors.backgroundColor}}
    border-l-4
    {{this.getColors.leftBorderColor}}
    p-4 mb-3
    {{@classes}}'
>
  <div class='flex'>
    <div class='flex-shrink-0 {{this.getColors.iconColor}} '>
      <FaIcon icon='exclamation-triangle' />
    </div>
    <div class='ml-3'>
      <p class='text-sm {{this.getColors.textColor}} '>
        {{yield}}
      </p>
    </div>
  </div>
</div>