<Form
  @model={{this.getModel}}
  @onSubmit={{this.onSuccess}}
  @validations={{this.validations}}
  class='grid w-full grid-cols-6 gap-6'
  as |form|
>
  <div class='col-span-6'>
    <ValidatedInput
      @label={{t 'label.title'}}
      @id='title'
      @type='text'
      @placeholder={{t 'placeholder.new_trip_title'}}
      @autocomplete='off'
      @changeset={{form.changeset}}
      @value={{form.changeset.title}}
    />
  </div>
  <div class='col-span-6'>
    <ValidatedInput
      @label={{t 'label.description'}}
      @id='description'
      @type='textarea'
      @placeholder={{t 'placeholder.new_trip_description'}}
      @autocomplete='off'
      @changeset={{form.changeset}}
      @value={{form.changeset.description}}
    />
  </div>
  {{!-- <div class='col-span-6'>
    <label
      for='public'
      class='flex items-center text-sm font-medium text-gray-700'
    >
      <Input
        id='public'
        @type='checkbox'
        placeholder={{t 'placeholder.public'}}
        class='mr-2 rounded-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500'
        @checked={{@model.public}}
      />
      {{t 'label.public'}}
    </label>
  </div> --}}
  <div class='col-span-6'>
    <label for='' class='block mb-1 text-sm font-medium text-gray-700'>
      {{t 'label.cover_photo'}}
    </label>

    <UnsplashImageSearch
      @changeset={{form.changeset}}
      @id='unsplashPhoto'
      @image={{form.changeset.unsplashPhoto}}
    />

  </div>

  <div
    class='col-span-6 flex items-center mt-3 py-3 border-t border-gray-300 justify-between'
  >

    <div>
      <SecondaryButton
        @type='button'
        tabindex='5'
        class='mr-3'
        {{on 'click' this.onCancel}}
      >
        {{t 'cancel'}}
      </SecondaryButton>
      <Button @type='submit' tabindex='4'>
        {{t this.getSuccesButtonText}}
      </Button>
    </div>
  </div>
</Form>