<Form
  @model={{this.getModel}}
  @onSubmit={{this.addNewTrip}}
  @validations={{this.validations}}
  class='grid grid-cols-6 gap-6 w-full'
  as |form|
>
  <div class='col-span-6'>
    <ValidatedInput
      @label={{t 'label.title'}}
      @id='title'
      @tabindex='1'
      @type='text'
      @placeholder={{t 'placeholder.tip_title'}}
      @autocomplete='off'
      @changeset={{form.changeset}}
      @value={{form.changeset.title}}
    />
  </div>
  <div class='col-span-6'>
    <ValidatedInput
      @label={{t 'label.description'}}
      @id='description'
      @tabindex='2'
      @type='textarea'
      @placeholder={{t 'placeholder.tip_title'}}
      @autocomplete='off'
      @changeset={{form.changeset}}
      @value={{form.changeset.description}}
    />
  </div>
  <div class='col-span-6'>
    <label for='password' class='block text-sm font-medium text-gray-700 mb-1'>
      {{t 'label.category'}}
    </label>

    <PowerSelect
      @tabindex='3'
      @selected={{form.changeset.category}}
      @options={{this.getFormatedCategories}}
      @onChange={{action (mut form.changeset.category)}}
      @placeholder={{t 'placeholder.category'}}
      as |category|
    >
      <span>
        <FaIcon @icon={{category.icon}} class='w-4 mr-1 text-gray-600' />
        {{t (concat 'category.' category.name)}}
      </span>
    </PowerSelect>
  </div>
  <div
    class='col-span-6 flex items-center mt-3 py-3 border-t border-gray-300 justify-between'
  >
    {{#if this.showDeleteButton}}
      <SecondaryButton
        @type='button'
        tabindex='6'
        class='mr-3 text-red-500 hover:text-red-700 hover:bg-red-200 border-red-500 hover:border-red-700'
        {{on 'click' this.onDelete}}
      >
        {{t 'delete'}}
      </SecondaryButton>
    {{/if}}
    <div>
      <SecondaryButton
        @type='button'
        tabindex='5'
        class='mr-3'
        {{on 'click' this.onCancel}}
      >
        {{t 'cancel'}}
      </SecondaryButton>
      <Button @type='submit' tabindex='4'>
        {{t this.getSuccesButtonText}}
      </Button>
    </div>
  </div>
</Form>