<nav class='border-b border-orange-300 border-opacity-25 lg:border-none'>
  <div class='mx-auto px-2 sm:px-4 lg:px-8'>
    <div class='relative h-16 flex items-center justify-between'>
      <div class='px-2 flex items-center lg:px-0'>
        <div class='flex-shrink-0'>
          <LinkTo @route='index'>
            <h1 class='text-white font-headings font-semibold text-lg'>
              ShareYourTravel.tips
              <span class='uppercase opacity-75'>
                Béta
              </span>
            </h1>
          </LinkTo>
        </div>
        <div class='hidden lg:block lg:ml-10'>
          <div class='flex space-x-4'>
            {{#if this.session.isAuthenticated}}
              {{#each this.getMenuItems as |item|}}
                <LinkTo
                  @route={{item.route}}
                  @current-when={{item.currentWhen}}
                  @activeClass='bg-orange-700 text-white'
                  class='text-white hover:bg-orange-500 font-headings font-medium hover:bg-opacity-75 rounded-md py-2 px-3'
                >
                  {{t item.title}}
                </LinkTo>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>

      <div class='hidden lg:block lg:ml-4'>
        <div class='flex space-x-4'>
          {{#if this.session.isAuthenticated}}
            <span class='text-white py-2 px-3 text-sm font-headings italic'>
              {{t 'menu.welcome_message' name=this.currentUser.user.firstName}}
            </span>
            <LinkTo
              @route='logout'
              @activeClass='bg-orange-700 text-white'
              class='text-white hover:bg-orange-500 hover:bg-opacity-75 rounded-md py-1.5 px-4 font-medium font-headings bg-orange-600 border border-white'
            >
              {{t 'menu.logout'}}
            </LinkTo>
          {{else}}
            <LinkTo
              @route='register'
              @activeClass='bg-orange-700 text-white'
              class='text-white hover:bg-orange-500 hover:bg-opacity-75 rounded-md py-1.5 px-4 font-medium font-headings'
            >
              {{t 'menu.register'}}
            </LinkTo>
            <LinkTo
              @route='login'
              @activeClass='bg-orange-700 text-white'
              class='text-white hover:bg-orange-500 hover:bg-opacity-75 rounded-md py-1.5 px-4 font-medium font-headings bg-orange-600 border border-white'
            >
              {{t 'menu.login'}}
            </LinkTo>
          {{/if}}
        </div>
      </div>

    </div>
  </div>
</nav>