<div
  class='fixed overflow-hidden {{if this.hideOverlay "hidden"}}'
  aria-labelledby={{this.getTitle}}
  role='dialog'
  aria-modal='true'
  {{did-insert this.onInsert}}
>
  <div class='absolute overflow-hidden'>
    <!-- Background overlay, show/hide based on slide-over state. -->
    <div class='absolute inset-0' aria-hidden='true'>
      <div class='fixed inset-y-0 right-0 max-w-full flex'>
        <div class='w-screen md:max-w-md {{this.animationClasses}} border-t'>
          <div
            class='h-3/4 md:h-full divide-y divide-gray-200 flex flex-col bg-white shadow-xl'
          >
            <div class='min-h-0 flex-1 flex flex-col py-6 overflow-y-scroll'>
              <div class='px-4 sm:px-6'>
                <div class='flex items-start justify-between'>
                  <h2
                    class='text-lg font-medium text-gray-900'
                    id='slide-over-title'
                  >
                    {{this.getTitle}}
                  </h2>
                  <div class='ml-3 h-7 flex items-center'>
                    <button
                      type='button'
                      class='bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500'
                      aria-label='{{t "close"}}'
                      {{on 'click' (action this.closeSlideOver)}}
                    >
                      <span class='sr-only'>{{t 'close'}}</span>
                      <FaIcon @icon='times' class='h-5 w-5' />
                    </button>
                  </div>
                </div>
              </div>
              <div class='mt-6 relative flex-1 px-4 sm:px-6' id='slide-over'>
                {{#if (eq this.getCurrentModal this.modals.EditContributors)}}
                  <Modals::EditContributors @options={{this.getOptions}} />
                {{/if}}
                {{#if (eq this.getCurrentModal this.modals.EditTrip)}}
                  <Modals::EditTrip @options={{this.getOptions}} />
                {{/if}}
                {{#if (eq this.getCurrentModal this.modals.EditTip)}}
                  <Modals::EditTip @options={{this.getOptions}} />
                {{/if}}
                {{#if (eq this.getCurrentModal this.modals.ViewTip)}}
                  <Modals::ViewTip @options={{this.getOptions}} />
                {{/if}}
                {{#if (eq this.getCurrentModal this.modals.EditCategory)}}
                  <Modals::EditCategory @options={{this.getOptions}} />
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>