<form
  {{on 'submit' (action this.addNewTrip)}}
  class='grid w-full grid-cols-6 gap-6'
>
  <div class='col-span-6'>
    <ValidatedInput
      @changeset={{this.changeset}}
      @id='title'
      @type='text'
      @label='{{t "label.title"}}'
      @value='{{this.changeset.title}}'
      @placeholder={{t 'placeholder.new_trip_title'}}
    />
  </div>
  <div class='col-span-6'>
    <label for='password' class='block text-sm font-medium text-gray-700'>
      {{t 'label.description'}}
    </label>
    <Textarea
      id='description'
      rows='4'
      placeholder={{t 'placeholder.new_trip_description'}}
      class='block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm'
      @value={{@model.description}}
    />
  </div>
  {{!-- <div class='col-span-6'>
    <label
      for='public'
      class='flex items-center text-sm font-medium text-gray-700'
    >
      <Input
        id='public'
        @type='checkbox'
        placeholder={{t 'placeholder.public'}}
        class='mr-2 rounded-sm focus:outline-none focus:ring-orange-500 focus:border-orange-500'
        @checked={{@model.public}}
      />
      {{t 'label.public'}}
    </label>
  </div> --}}
  <div class='col-span-6'>
    <label for='' class='block mb-1 text-sm font-medium text-gray-700'>
      {{t 'label.cover_photo'}}
    </label>

    <UnsplashImageSearch
      @onSelect={{action this.setCoverPhoto}}
      @image={{@model.unsplashPhoto}}
    />

  </div>
  <div class='flex flex-row-reverse col-span-6'>
    {{log this.changeset}}
    <Button @type='submit' @disabled={{this.changeset.isInvalid}}>
      {{t this.getSuccesButtonText}}
    </Button>

    <SecondaryButton @type='button' class='mr-3' {{on 'click' @onCancel}}>
      {{t 'cancel'}}
    </SecondaryButton>

  </div>
</form>