<form
  {{on 'submit' (action this.addNewTrip)}}
  class='grid grid-cols-6 gap-6 w-full'
>
  <div class='col-span-6'>
    <label for='email' class='block text-sm font-medium text-gray-700'>
      {{t 'label.title'}}
    </label>
    <Input
      id='title'
      @type='text'
      placeholder={{t 'placeholder.new_trip_title'}}
      autocomplete='off'
      class='mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm'
      @value={{@model.title}}
    />
  </div>
  <div class='col-span-6'>
    <label for='password' class='block text-sm font-medium text-gray-700'>
      {{t 'label.description'}}
    </label>
    <Textarea
      id='description'
      rows='4'
      placeholder={{t 'placeholder.new_trip_description'}}
      class='mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-orange-500 focus:border-orange-500 sm:text-sm'
      @value={{@model.description}}
    />
  </div>
  <div class='col-span-6'>
    <label
      for='public'
      class='text-sm font-medium text-gray-700 flex items-center'
    >
      <Input
        id='public'
        @type='checkbox'
        placeholder={{t 'placeholder.public'}}
        class='focus:outline-none focus:ring-orange-500 focus:border-orange-500 rounded-sm mr-2'
        @checked={{@model.public}}
      />
      {{t 'label.public'}}
    </label>

  </div>
  <div class='col-span-6'>
    <label for='' class='block text-sm mb-1 font-medium text-gray-700'>
      {{t 'label.cover_photo'}}
    </label>
    <UnsplashImageSearch
      @onSelect={{action this.setCoverPhoto}}
      @imageId={{@model.unsplashPhotoId}}
    />

  </div>
  <div class='col-span-6'>
    <SecondaryButton @type='button' class='mr-3' {{on 'click' @onCancel}}>
      {{t 'cancel'}}
    </SecondaryButton>

    <Button @type='submit'>{{t this.getSuccesButtonText}}</Button>
  </div>
</form>