<div class='bg-white flex flex-col overflow-hidden flex-shrink-0'>
  <div
    class='bg-cover bg-gray-300 overflow-hidden flex-1 aspect-video p-6 flex justify-end relative'
    style={{this.coverPhotoStyle}}
  >
    <UnsplashCredits @photo={{@model.unsplashPhoto}} />
  </div>
  <div class='px-5 py-6 relative'>
    <h3 class='text-lg font-medium flex justify-between'>
      {{@model.title}}
    </h3>
    <p class='mt-2 text-sm text-gray-500'>
      {{@model.description}}
    </p>
    {{#if @model.isTripOwner}}
      <div class='mt-4'>
        <SecondaryButton {{on 'click' @editTrip}}>
          <FaIcon @icon='pen' class='-ml-1.5 mr-2 a' />
          {{t 'edit_trip'}}
        </SecondaryButton>
        <SecondaryButton {{on 'click' @showContributors}}>
          <FaIcon @icon='user' class='-ml-1.5 mr-2 a' />
          {{t 'invite contributors'}}
        </SecondaryButton>
      </div>
    {{/if}}
  </div>
</div>