{{page-title (t 'page_title.categories')}}

<AppHeader @title={{t 'header_title.categories'}} />

<PageWrapper>
  <div class='grid grid-cols-6 sm:grid-cols-5 gap-6 mb-6'>

    {{#each @model.categories as |category|}}
      <div
        class='flex justify-center border rounded flex-col border-gray-200 items-center p-4 hover:scale-105 transition-transform duration-200 cursor-pointer'
        {{on 'click' (fn this.openEditModal category)}}
      >
        <div
          class='bg-{{category.backgroundColor}}-500 rounded-full w-10 h-10 flex justify-center items-center mb-4'
        >
          <FaIcon @icon={{category.icon}} class='text-white' />
        </div>
        <span
          class='text-sm text-center font-medium text-gray-700 font-headings'
        >
          {{t (concat 'category.' category.name)}}
        </span>
      </div>
    {{/each}}
  </div>

</PageWrapper>