{{page-title (t 'page_title.shared_trips')}}

<AppHeader @title={{t 'header_title.shared_trips'}} />

<PageWrapper>
  <div class='grid grid-cols-1 sm:grid-cols-3 gap-6 mb-6'>

    {{#unless @model.trips}}
      <div
        class='col-span-3 relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center'
      >
        <h3 class='font-headings text-gray-500 text-center text-lg italic'>
          {{t 'no_shared_trips'}}
        </h3>
      </div>
    {{/unless}}

    {{#each @model.trips as |trip|}}
      <LinkTo
        @route='authenticated.sharedtrip'
        @model={{trip}}
        class='hover:scale-105 transition-transform duration-200 w-full'
      >
        <TripCard @model={{trip}} />
      </LinkTo>
    {{/each}}
  </div>
</PageWrapper>