{{page-title @model.title}}
<div class='fixed h-screen w-screen'>
  <AppHeader @isSmall={{true}} />
  <main
    class='bg-gray-100 shadow absolute top-16 bottom-0 left-0 flex flex-col right-0 sm:grid md:grid-cols-5 lg:grid-cols-7 grid-cols-1'
  >
    <div
      class='md:col-span-2 flex flex-col sm:h-[calc(100vh-4rem)] sm:border-r relative border-gray-300 overflow-x-scroll overflow-y-auto'
    >
      <TripHeader
        @model={{@model}}
        @editTrip={{action this.editTrip}}
        @showContributors={{action this.showContributors}}
      />
      <TipList @tips={{this.getTipsWithoutNew}} @onOpen={{this.onTipClick}} />
    </div>
    <div class='sm:col-span-3 relative lg:col-span-5 flex-1'>
      {{#if this.map}}
        <div class='absolute top-4 left-4 z-50 right-4 flex'>
          <Searchbox
            @searchQuery={{this.searchQuery}}
            @map={{this.map}}
            @onSelect={{this.handleOnSearchSelect}}
          />
        </div>
      {{/if}}
      <GMap
        @lat={{this.defaultMapCenterLocation.lat}}
        @lng={{this.defaultMapCenterLocation.lng}}
        class='w-full h-full'
        @zoom={{this.defaultMapZoom}}
        @panControl={{false}}
        @fullscreenControl={{false}}
        @streetViewControl={{false}}
        @disableDefaultUI={{true}}
        @zoomControl={{true}}
        @styles={{this.getMapStyles}}
        @maxZoom={{this.defaultMaxZoom}}
        @onClick={{action this.onMapClick}}
        @onDblclick={{action this.onMapDblClick}}
        @onceOnIdle={{this.onMapLoad}}
        as |map|
      >
        {{#each this.getTips as |tip|}}
          <map.overlay
            @lat={{tip.getLat}}
            @lng={{tip.getLng}}
            @onMouseover={{fn (mut tip.isHovered) true}}
            @onMouseleave={{fn (mut tip.isHovered) false}}
            @draggable={{true}}
          >
            <MapMarker
              @tip={{tip}}
              {{on 'click' (action this.onMarkerClick tip map)}}
            />

          </map.overlay>
        {{/each}}
      </GMap>
    </div>
  </main>
</div>