{{page-title (t 'page_title.trips')}}

<AppHeader @title={{t 'header_title.trips'}} />

<PageWrapper>
  <div class='grid grid-cols-3 gap-6'>
    <EmptyTripCard {{on 'click' (action this.openSlideOver)}} />
    {{#each @model as |trip|}}
      <LinkTo
        @route='authenticated.trip'
        @model={{trip}}
        class='hover:scale-105 transition-transform duration-200'
      >
        <TripCard @model={{trip}} />
      </LinkTo>
    {{/each}}
  </div>
</PageWrapper>

{{#ember-wormhole to='slide-over'}}
  <Forms::NewTrip @onSuccess={{action this.closeSlideOver}} />
{{/ember-wormhole}}