{{page-title @model.title}}

<AppHeader />

<MapWrapper>
  <div class='col-span-1'>
    <TripHeader @model={{@model}} />

    <TipList @tips={{@model.tips}} />
  </div>
  <div class='col-span-3 shadow-inner'>
    <GMap
      @lat='52.138747542376876'
      @lng='5.370024842583879'
      class='w-full h-full'
      @zoom={{9}}
      @panControl={{false}}
      @fullscreenControl={{false}}
      @streetViewControl={{false}}
      @onClick={{this.onMapClick}}
      as |map|
    >
      {{#each @model.tips as |tip|}}
        <map.marker
          @lat={{tip.getLat}}
          @lng={{tip.getLng}}
          @draggable={{false}}
          @onClick={{fn this.onMarkerClick tip}}
        />
      {{/each}}

    </GMap>
  </div>
</MapWrapper>