{{page-title (t 'page_title.login')}}

<AppHeader />

<PageWrapper>
  <div class='grid grid-cols-9 -m-6'>
    <div
      class='col-span-5 bg-cover items-end bg-gray-300 overflow-hidden rounded-l-lg hidden sm:flex'
      style="background-image: url('/assets/images/ons-bus-avontuur-spain.jpeg');"
    >
    </div>
    <div
      class='py-10 sm:py-16 px-3 sm:px-5 col-span-9 sm:col-span-4 flex items-center'
    >
      <Form
        @model={{this.model}}
        @onSubmit={{action this.authenticate}}
        @validations={{this.validations}}
        @isLoading={{this.isLoading}}
        class='grid grid-cols-6 gap-6 w-full px-6'
        as |form|
      >
        <div class='col-span-6'>
          <h1 class='text-3xl font-bold py-3'>{{t 'header_title.login'}}</h1>
          <p>{{t 'login_message' register_url='/register' htmlSafe=true}}</p>
        </div>
        <div class='col-span-6'>
          <ValidatedInput
            @changeset={{form.changeset}}
            @id='email'
            @type='text'
            @label={{t 'label.email'}}
            @placeholder={{t 'placeholder.email'}}
            @autocomplete='email'
            @value={{form.changeset.email}}
          />
        </div>
        <div class='col-span-6'>
          <ValidatedInput
            @changeset={{form.changeset}}
            @id='password'
            @label={{t 'label.password'}}
            @type='password'
            @autocomplete='current-password'
            @placeholder={{t 'placeholder.password'}}
            @value={{form.changeset.password}}
          />
        </div>
        <div class='col-span-6'>
          {{#if this.hasErrors}}
            <FlashMessage>{{t (concat 'errors.' this.errors)}}</FlashMessage>
          {{/if}}
          <Button @type='submit' @isLoading={{form.isLoading}}>
            {{t 'login'}}
          </Button>
        </div>
      </Form>
    </div>
  </div>
</PageWrapper>