{{page-title (t 'page_title.login')}}

<AppHeader />

<PageWrapper>
  <div class='grid grid-cols-9 -m-6'>

    <div
      class='col-span-5 bg-cover flex items-end bg-gray-300 overflow-hidden rounded-l-lg'
      style="background-image: url('assets/images/john-o-nolan-6f_ANCcbj3o-unsplash.jpg');"
    >
      <span class='text-xs p-3 bg-white bg-opacity-30 rounded-tr'>
        Photo by
        <a
          href='https://unsplash.com/@johnonolan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'
        >John O'Nolan</a>
        on
        <a
          href='https://unsplash.com/s/photos/norway-travel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText'
        >Unsplash</a></span>

    </div>
    <div class='py-16 px-5 col-span-4 flex items-center'>

      <form
        {{on 'submit' this.authenticate}}
        class='grid grid-cols-6 gap-6 w-full px-6'
      >
        <div class='col-span-6'>
          <h1 class='text-3xl font-bold py-3'>{{t 'header_title.login'}}</h1>
          <p>{{t 'login_message'}}</p>
        </div>
        <div class='col-span-6'>
          <label for='email' class='block text-sm font-medium text-gray-700'>
            {{t 'label.email'}}
          </label>
          <Input
            id='email'
            @type='text'
            placeholder={{t 'placeholder.email'}}
            autocomplete='email'
            class='mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'
            @value={{this.email}}
          />
        </div>
        <div class='col-span-6'>

          <label for='password' class='block text-sm font-medium text-gray-700'>
            {{t 'label.password'}}
          </label>

          <Input
            id='password'
            @type='password'
            placeholder={{t 'placeholder.password'}}
            class='mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm'
            @value={{this.password}}
          />
        </div>
        <div class='col-span-6'>
          <Button @type='submit'>{{t 'login'}}</Button>
        </div>
      </form>
    </div>
  </div>
</PageWrapper>